/* Webpage background colour change with a gradient */

body{
    background-color:green;
    background-image: linear-gradient(green, blue);
}

/* Responsive Design */

p{
    font-size:2vw;
    padding:10px;
}

li{
    font-size:2vw;
    padding:10px;
}

th{
    font-size:2vw;
}

td{
    font-size:2vw;
}

@media only screen and (max-width: 700px){
    p{
        font-size:5vw;
        padding:10px;
    }
    
    li{
        font-size:5vw;
        padding:10px;
    }
    
    th{
        font-size:5vw;
    }

    td{
        font-size:5vw;
    }
    
    footer f1{
        font-size: 5vw;
        font-family: Verdana, Geneva, sans-serif;
    }
    
    footer f2{
        font-size: 5vw;
        font-family: Verdana, Geneva, sans-serif;
    }
    
    footer f3{
        font-size: 5vw;
        font-family: Verdana, Geneva, sans-serif;
    }
}

/* GRID #1 */
header{
    background-color:#fff;
	grid-area: body;
		display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr;
	grid-template-areas:"hl1 hl2";
    padding:20px;
    text-align: center;
}

/* GRID #2, changed font size to vw from px for responsive design */
h1{
    font-size:5vw;
    font-family: Arial, Helvetica, sans-serif;
	grid-area: body;
		display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
	grid-template-areas:"h1";
    padding:30px;
    text-align: center;
}

/* px changed to vw for responsive design */
h2{
    font-size:3vw;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

/* GRID #3 */
.will{
    grid-area: body;
         display:grid;
     grid-template-columns:1fr;
     grid-template-rows:1fr;
     grid-template-areas:".will";
     padding:10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }

 /* Changes text colour of listed items */
.list1{
    color:#ffffff;
}

.list2{
    color:#ffffff;
}

/* display, margin and width all for responsive design */
.video{
    padding:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Adds padding to the table */
.table1{
    padding:10px;
}



/* GRID #4 */
footer{
	background-color:#d0f8ff;
	grid-area: footer;
		display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr;
	grid-template-areas:"f1 f2 f3";
    padding:30px;
    text-align: center; 
}

/* Changes text size of footer items, changed to VW for responsive design */
f1{
    font-size: 1.5vw;
    font-family: Verdana, Geneva, sans-serif;
}

f2{
    font-size: 1.5vw;
    font-family: Verdana, Geneva, sans-serif;
}

f3{
    font-size: 1.5vw;
    font-family: Verdana, Geneva, sans-serif;
}
