/* Webpage background colour change with a gradient */

body{
    background-color:green;
    background-image: linear-gradient(green, blue);
}

h1{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

.list1{
    color:#ffffff;
}

.list2{
    color:#ffffff;
}

.video{
    padding:30px;
}

.table1{
    padding:10px;
}

.will{
    
}