/* Webpage background colour change with a gradient */

body{
    background-color:green;
    background-image: linear-gradient(green, blue);
}

/* GRID #1 */
header{
    background-color:#fff;
	grid-area: body;
		display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr;
	grid-template-areas:"hl1 hl2";
    padding:20px;
    text-align: center;
}

/* GRID #2 */
h1{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
	grid-area: body;
		display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
	grid-template-areas:"h1";
    padding:30px;
    text-align: center;
}

h2{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

/* GRID #3 */
.will{
    grid-area: body;
         display:grid;
     grid-template-columns:1fr;
     grid-template-rows:1fr;
     grid-template-areas:".will";
     padding:10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }

 /* Changes text colour of listed items */
.list1{
    color:#ffffff;
}

.list2{
    color:#ffffff;
}

.video{
    padding:30px;
}

/* Adds padding to the table */
.table1{
    padding:10px;
}



/* GRID #4 */
footer{
	background-color:#d0f8ff;
	grid-area: footer;
		display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr;
	grid-template-areas:"f1 f2 f3";
    padding:30px;
    text-align: center; 
}

/* Changes text size of footer items */
f1{
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
}

f2{
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
}

f3{
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
}

